.container {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  border: 0.1rem solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.5rem;
    color: #d9534f;
  }

  p {
    font-size: 1rem;
    color: #333;

    strong {
      font-weight: bold;
    }
  }
}
